DEBUG=True
SECRET_KEY=change-moi
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=postgres
DB_USER=postgres.xxxxxxxxxxxx
DB_PASSWORD=ton-mot-de-passe-supabase
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_PORT=5432
#pipeline@gmail.